# output
output
instant_test_output
inference_test_output

# dataset
data
logs
exps

# image formats
*.png
*.json
*.diff
*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*  # Make sure this is the intended behavior
/projects/*/datasets
/models
/snippet

# Ignore log files and compiled Python files
*.log
*.pyc
__pycache__/

# Ignore everything inside cytology/test, train, and updated_train
open_vocabulary/ovdetr/cytology/test/
open_vocabulary/ovdetr/cytology/updated_train/

# Ignore virtual environments
detectron2/
detectron2_env/
venv/
.venv/

# Ignore adaptation-related files
cytology_adaptation/

# Ignore output files
output.csv
